$font-stack: Poppins, sans-serif;
$primary-color: #ffff;

$w: #FFFFFF;
$b: #000000;
$lg: #C0C0C0;


html,
body {
  font-family: Poppins, sans-serif;
  font-weight: 400px;
  background-color: black;
  line-height: 20px;
  color: $w;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.overlay--show {
  visibility: visible;
  opacity: 0.5;
}


.burger {
  display: none;
}

.burger--open span {
  transform: scale(0);
  transition: all 0.3s;
}

.burger--open:before {
  position: fixed;
  transform: rotate(45deg);
}

.burger--open:after {
  position: fixed;
  transform: rotate(-45deg);
}


.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}


.button {
  position: relative;
  display: inline-block;
  color: $b;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  padding: 9px 10px 13px 42px;
  border-radius: 14px;
  background: $w;
  transition: all 100s;

  &:hover .circle {
    opacity: 1;
    -webkit-animation: flash 1s;
    animation: flash 1s;
  }

  @-webkit-keyframes flash {
    0% {
      opacity: .3;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes flash {
    0% {
      opacity: .3;
    }

    100% {
      opacity: 1;
    }
  }


  &__text {
    display: inline;
  }
}


.circle {
  position: absolute;
  top: 5px;
  left: 1px;
}



/*===============================DATA======================================
===================================================================================== */

.data {
  display: flex;
  justify-content: flex-end;
  padding: 0px 40px 40px 40px;
}

.data-item-1 {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  padding-right: 16px;
}

.data-item-2 {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  padding-right: 16px;
}

.data-item-3 {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  padding-right: 16px;
}

.data-item-4 {
  display: flex;
  font-size: 12px;
  line-height: 12px;
}

.item-img {
  padding-right: 5px;
}

.item-text {
  font-size: 12px;
  line-height: 12px;
}

/*===============================HEADER======================================
===================================================================================== */

.burger {
  display: none;

  &__::before,
  &__::after {
    display: block;
    content: "";
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background-color: #1e1b1b;
    transition: all 0.3s;
  }

}

.header {

  &__top-inner {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 30px auto 30px auto;
  }

  &__logo {
    margin-left: 32px;
    margin-right: 320px;
  }

  &__top-right {
    color: $w;
    min-width: 700px;
    display: flex;
    justify-content: end;
  }

  &__nav {
    display: flex;
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 20px;
    margin-right: 32px;
    transition: 0.6s;

    &:first-child {
      font-size: 13px;
      margin-right: 56px;

      &:hover {
        transform: scale(1.03);
      }
    }

    &:hover {
      color: $lg;
      transition: 0.3s;
    }
  }

  &__top-btn {
    width: 155px;
    min-height: 42px;
    box-sizing: border-box;
    align-items: center;
    color: #000;
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 20px;
    background-color: #fff;
    transition: all 0.3s;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 10px 20px 13px 20px;

    &:hover {
      opacity: 1;
      -webkit-animation: flash 1s;
      animation: flash 1s;
    }

    @-webkit-keyframes flash {
      0% {
        opacity: .3;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes flash {
      0% {
        opacity: .3;
      }

      100% {
        opacity: 1;
      }
    }
  }


  &__body {
    min-height: 716px;
    background: url(../img/pictures/main.jpg) center center / cover no-repeat;
    background-attachment: fixed;
  }



  &__body-heading {
    margin: 0 auto;
    padding: 460px 15px 0px 15px;
    align-items: center;
    max-width: 600px;
    color: $w;
    text-align: center;
  }


  &__data {
    display: flex;
    justify-content: flex-end;
    margin-top: 3px;
    margin-right: 40px;
  }
}

.heading {

  &__subtitle {
    color: #C0C0C0;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 54px;
    line-height: 59px;
  }

  &__text {
    color: #C0C0C0;
    margin-top: 20px;
    font-size: 14px;
  }
}

/*===============================AREAS======================================
===================================================================================== */

.areas {
  padding: 113px 136px 100px;

  &__inner {}

  &__heading {
    text-align: center;

  }

  &__title {
    color: $w;
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 15px;

  }

  &__subtitle {
    color: $lg;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 42px;
  }

  &__list {
    display: grid;
    grid-template: auto auto / repeat(2, auto);
    gap: 16px;
  }

  &__list-item {
    min-width: 576px;
    min-height: 600px;
    transition: 0.7s;

    &:first-child {
      background: url(../img/pictures/areas/product-photo.jpg) center center / cover no-repeat;
    }

    &:nth-child(2) {
      background: url(../img/pictures/areas/architecture-photo.jpg) center center / cover no-repeat;
    }

    &:nth-child(3) {
      background: url(../img/pictures/areas/drone-photo.jpg) center center / cover no-repeat;
    }

    &:last-child {
      background: url(../img/pictures/areas/wildlefe-photo.jpg) center center / cover no-repeat;
    }

    &:hover {
      transform: scale(1.03);
      transition: 0.3s;
      width: 100%;
    }
  }

  &__item-content {
    margin: 420px 0 0 30px;
  }

  &__content-title {
    color: $w;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__content-text {
    color: $lg;
    min-height: 80px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 17px;
  }

  &__content-btn {
    margin-bottom: 30px;
  }
}

/*===============================PHOTO__EXAMPLE======================================
===================================================================================== */

.photo {

  &__example-1 {
    background: url(../img/pictures/sunset.jpg) center / cover no-repeat;
    background-attachment: fixed;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__example-2 {
    background: url(../img/pictures/monstera.jpg) center center / cover no-repeat;
    background-attachment: fixed;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__example-3 {
    background: url(../img/pictures/star.jpg) center center / cover no-repeat;
    background-attachment: fixed;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__example-content {
    padding: 260px 60px 205px 30px;
  }

  &__content-title {
    align-self: flex-start;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

  }

  &__content-text {
    color: $lg;
    font-size: 14px;
    line-height: 20px;
    min-height: 60px;
    max-width: 300px;
  }

}

/*===============================TOOLS======================================
=====================================================================================*/

.tools {
  display: flex;

  &__left {
    display: flex;
    min-width: 50%;
  }

  &__content {
    max-width: 600px;
    min-height: 314px;
    padding: 173px 106px 153px 100px;
  }

  &__subtitile {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $lg;
    margin-bottom: 6px;

  }

  &__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 14px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    min-width: 514px;
    margin-bottom: 20px;
  }

  &__btn {}

  &__img {
    min-width: 50%;
    min-height: 540px;
    background: url(../img/pictures/tools.jpg) center center / cover no-repeat;
    background-attachment: fixed;
  }

  .data {
    padding-top: 484px;
  }
}

/*===============================CLIENTS======================================
=====================================================================================*/

.clients {

  &__heading {
    margin-top: 113px;
    margin-bottom: 80px;
    text-align: center;
  }

  &__title {
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 15px;
  }

  &__subtitle {
    color: $lg;
    font-size: 24px;
    line-height: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 136px 100px;
  }

  &__item {
    &:hover {
      opacity: 1;
      -webkit-animation: flash 1s;
      animation: flash 1s;
    }

    @-webkit-keyframes flash {
      0% {
        opacity: .3;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes flash {
      0% {
        opacity: .3;
      }

      100% {
        opacity: 1;
      }
    }
  }
}

/*===============================CONTACT======================================
=====================================================================================*/

.contact {
  text-align: center;


  &__heading {
    margin-top: 113px;
    margin-bottom: 12px;
  }

  &__title {

    font-size: 40px;
    line-height: 42px;
    margin-bottom: 15px;

  }

  &__subtitle {
    color: $lg;
    font-size: 24px;
    line-height: 30px;
  }

  &__btn {
    margin-bottom: 108px;
  }
}

/*===============================FOOTER======================================
=====================================================================================*/


.footer {

  &__inner {
    margin: 100px 136px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
  }

  &__heading {}

  &__logo {
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 13px;
    line-height: 20px;
    color: $lg;
  }

  &__right-list {
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-right: 55px;

    &:last-child {
      margin-right: 100px;
    }
  }

  &__title-item {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $lg;
    margin-bottom: 10px;
  }

  &__item {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    transition: 0.6s;

    &:hover {
      color: $lg;
      text-decoration: underline;
      transition: 0.3s;
    }
  }

  &__hr-line {
    border: 1px solid #FFFFFF;
    height: 2px;
  }

  &__middle {
    display: flex;
    margin-top: 36px;
    margin-bottom: 36px;
  }

  &__mail {
    display: flex;
    flex: 1;
    align-items: center;
    align-content: space-between;
  }

  &__sub {
    flex: 2;

  }

  &__sub-title {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__sub-subtitle {
    font-size: 13px;
    line-height: 20px;
    color: $lg;
  }

  &__sub-form {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  &__sub-btn {
    background: #000000;
    border-radius: 11px;
    height: 30px;
    width: 63px;
    position: absolute;
    top: 10px;
    bottom: 0px;
    margin-right: 6px;

    &:hover {
      opacity: 1;
      -webkit-animation: flash 1s;
      animation: flash 1s;
    }

    @-webkit-keyframes flash {
      0% {
        opacity: .3;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes flash {
      0% {
        opacity: .3;
      }

      100% {
        opacity: 1;
      }
    }
  }


  &__sub-input {
    position: relative;
    display: inline-block;
    min-width: 500px;
    height: 52px;
    color: $b;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.4px;
    padding: 9px 10px 13px 42px;
    border-radius: 12px;
    background: $w;
    transition: all 100s;
  }

  &__bottom {
    margin-top: 56px;
    padding-bottom: 104px;
    display: flex;
    justify-content: space-between;
  }

  &__copy {
    display: flex;
    align-items: center;
  }

  &__copy-text {
    font-size: 14px;
    line-height: 20px;
    color: $lg;
  }

  &__copy-text-2 {
    font-size: 13px;
    line-height: 20px;
    color: $lg;
  }


  &__licensing {
    font-size: 13px;
    line-height: 20px;
    color: $lg;
  }

  &__social {}

  &__social-item {
    margin-right: 20px;

    &:hover {
      opacity: 1;
      -webkit-animation: flash 1s;
      animation: flash 1s;
    }

    @-webkit-keyframes flash {
      0% {
        opacity: .3;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes flash {
      0% {
        opacity: .3;
      }

      100% {
        opacity: 1;
      }
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

/*===============================MEDIA==========================================
=====================================================================================*/
/*===============================1440px==========================================
=====================================================================================*/

@media (max-width: 1440px) {
  .areas {
    padding: 113px 0px 100px;
  }
}


/*===============================1200px==========================================
=====================================================================================*/

@media (max-width: 1200px) {
  .header__top-right {
    min-width: 0px;
    justify-content: flex-start;
  }

  .areas__list {
    display: grid;
    grid-template: auto auto/repeat(1, auto);
    gap: 16px;
  }
}



.header__logo {
  margin-right: 200px;
}


.tools {
  flex-direction: column;
}



.footer__sub-title {
  padding-right: 15px;
}



/*===============================1000px==========================================
=====================================================================================*/

@media (max-width: 1000px) {

  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    height: auto;
    width: auto;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: $b;
    transition: all 0.3s;


    span {
      display: block;
      height: 4px;
      width: 30px;
      border-radius: 3px;
      margin: 5px 0;
      background-color: $w;
      transition: all 0.3s;
    }

    &::before,
    &::after {
      display: block;
      content: "";
      height: 4px;
      width: 30px;
      border-radius: 3px;
      background-color: $w;
      transition: all 0.3s;
    }
  }

  .header__top {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 40;
    min-width: 50%;
    background-color: $b;
    transform: translateX(100%);
    transition: all 0.6s;
  }

  .header__top--open {
    transform: translateX(0%);
    transition: all 0.3s;
  }

  .header__top-inner {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 70px 0;
  }

  .header__logo {
    margin: 0;
  }

  .header__nav {}

  .header__nav-list {
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
  }

  .header__nav-item {
    margin: 0 auto;
    padding: 20px;

    &:first-child {
      margin-right: 0;
      text-align: center;
    }
  }

  .header__top-right {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }


  .clients {
    &__list {
      flex-direction: column;
    }

    &__item {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .footer {
    min-width: auto;

    &__inner {
      margin: 15px;
    }

    &__top {
      flex-direction: column;
    }

    &__subtitle {
      margin-bottom: 20px;
    }

    &__right-list {
      justify-content: space-between;
    }

    &__list:last-child {
      margin-right: 0px;
    }

    &__nav-list {
      justify-content: baseline;
    }

    &__mail {
      flex-direction: column;
    }

    &__sub-subtitle {
      margin-bottom: 20px;
    }


  }


  /*===============================680px==========================================
=====================================================================================*/

  @media (max-width: 680px) {
    .tools {
      &__content {
        min-width: 100%;
        padding: 30px;
      }

      &__text {
        min-width: 100%;
      }
    }

    .clients__heading {
      padding: 0 15px;
    }

    .contact__heading {
      padding: 0 15px;
    }
  }

  /*===============================550px==========================================
=====================================================================================*/

  @media (max-width: 550px) {
    .header {
      height: 100%;

      &__top {
        min-width: 100%;
      }

      &__top-inner {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 40px 0;
      }
    }

    .heading__title {
      font-size: 40px;
    }

    .areas {

      &__heading {
        padding: 0 15px;
      }

      &__list-item {
        min-width: 100%;
      }

      &__item-content {
        margin-right: 30px;
        margin-bottom: 12px;
      }

      
    }

    .contact__title {
      font-size: 30px;
    }

    .footer {

      &__logo {
        margin-top: 20px;
      }

      &__subtitle {
        margin-bottom: 20px;
      }


      &__sub-input {
        min-width: auto;
      }

      &__sub-btn {
        height: 30px;
        width: 20px;
      }

      &__bottom {
        display: flex;
        flex-direction: column;
      }


      &__copy-text {
        flex-direction: column;
        margin-bottom: 20px;
      }

      &__copy-text-2 {
        margin-bottom: 19px;
      }

    }
  }
}

/*===============================432px==========================================
=====================================================================================*/


@media (max-width: 432px) {

  .header__data {
    padding-bottom: 15px;
  }

  .footer__copy-text-2 {
    display: none;
  }
}




/*===============================320px==========================================
=====================================================================================*/

@media (max-width: 320px) {
  .data {
    flex-direction: column;
  }

  .data-item-1,
  .data-item-2,
  .data-item-3 {
    margin-bottom: 16px;
  }
}