html,
body {
  font-family: Poppins, sans-serif;
  font-weight: 400px;
  background-color: black;
  line-height: 20px;
  color: #FFFFFF;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.overlay--show {
  visibility: visible;
  opacity: 0.5;
}

.burger {
  display: none;
}

.burger--open span {
  transform: scale(0);
  transition: all 0.3s;
}

.burger--open:before {
  position: fixed;
  transform: rotate(45deg);
}

.burger--open:after {
  position: fixed;
  transform: rotate(-45deg);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.button {
  position: relative;
  display: inline-block;
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  padding: 9px 10px 13px 42px;
  border-radius: 14px;
  background: #FFFFFF;
  transition: all 100s;
}
.button:hover .circle {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.button__text {
  display: inline;
}

.circle {
  position: absolute;
  top: 5px;
  left: 1px;
}

/*===============================DATA======================================
===================================================================================== */
.data {
  display: flex;
  justify-content: flex-end;
  padding: 0px 40px 40px 40px;
}

.data-item-1 {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  padding-right: 16px;
}

.data-item-2 {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  padding-right: 16px;
}

.data-item-3 {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  padding-right: 16px;
}

.data-item-4 {
  display: flex;
  font-size: 12px;
  line-height: 12px;
}

.item-img {
  padding-right: 5px;
}

.item-text {
  font-size: 12px;
  line-height: 12px;
}

/*===============================HEADER======================================
===================================================================================== */
.burger {
  display: none;
}
.burger__::before, .burger__::after {
  display: block;
  content: "";
  height: 4px;
  width: 30px;
  border-radius: 3px;
  background-color: #1e1b1b;
  transition: all 0.3s;
}

.header__top-inner {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 30px auto 30px auto;
}
.header__logo {
  margin-left: 32px;
  margin-right: 320px;
}
.header__top-right {
  color: #FFFFFF;
  min-width: 700px;
  display: flex;
  justify-content: end;
}
.header__nav {
  display: flex;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  margin-right: 32px;
  transition: 0.6s;
}
.header__nav-item:first-child {
  font-size: 13px;
  margin-right: 56px;
}
.header__nav-item:first-child:hover {
  transform: scale(1.03);
}
.header__nav-item:hover {
  color: #C0C0C0;
  transition: 0.3s;
}
.header__top-btn {
  width: 155px;
  min-height: 42px;
  box-sizing: border-box;
  align-items: center;
  color: #000;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 20px;
  background-color: #fff;
  transition: all 0.3s;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 10px 20px 13px 20px;
}
.header__top-btn:hover {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.header__body {
  min-height: 716px;
  background: url(../img/pictures/main.jpg) center center/cover no-repeat;
}
.header__body-heading {
  margin: 0 auto;
  padding: 460px 15px 0px 15px;
  align-items: center;
  max-width: 600px;
  color: #FFFFFF;
  text-align: center;
}
.header__data {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
  margin-right: 40px;
}

.heading__subtitle {
  color: #C0C0C0;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.heading__title {
  font-size: 54px;
  line-height: 59px;
}
.heading__text {
  color: #C0C0C0;
  margin-top: 20px;
  font-size: 14px;
}

/*===============================AREAS======================================
===================================================================================== */
.areas {
  padding: 113px 136px 100px;
}
.areas__heading {
  text-align: center;
}
.areas__title {
  color: #FFFFFF;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 15px;
}
.areas__subtitle {
  color: #C0C0C0;
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 42px;
}
.areas__list {
  display: grid;
  grid-template: auto auto/repeat(2, auto);
  gap: 16px;
}
.areas__list-item {
  min-width: 576px;
  min-height: 600px;
  transition: 0.7s;
}
.areas__list-item:first-child {
  background: url(../img/pictures/areas/product-photo.jpg) center center/cover no-repeat;
}
.areas__list-item:nth-child(2) {
  background: url(../img/pictures/areas/architecture-photo.jpg) center center/cover no-repeat;
}
.areas__list-item:nth-child(3) {
  background: url(../img/pictures/areas/drone-photo.jpg) center center/cover no-repeat;
}
.areas__list-item:last-child {
  background: url(../img/pictures/areas/wildlefe-photo.jpg) center center/cover no-repeat;
}
.areas__list-item:hover {
  transform: scale(1.03);
  transition: 0.3s;
  width: 100%;
}
.areas__item-content {
  margin: 420px 0 0 30px;
}
.areas__content-title {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.areas__content-text {
  color: #C0C0C0;
  min-height: 80px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 17px;
}
.areas__content-btn {
  margin-bottom: 30px;
}

/*===============================PHOTO__EXAMPLE======================================
===================================================================================== */
.photo__example-1 {
  background: url(../img/pictures/sunset.jpg) center/cover no-repeat;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.photo__example-2 {
  background: url(../img/pictures/monstera.jpg) center center/cover no-repeat;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.photo__example-3 {
  background: url(../img/pictures/star.jpg) center center/cover no-repeat;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.photo__example-content {
  padding: 260px 60px 205px 30px;
}
.photo__content-title {
  align-self: flex-start;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.photo__content-text {
  color: #C0C0C0;
  font-size: 14px;
  line-height: 20px;
  min-height: 60px;
  max-width: 300px;
}

/*===============================TOOLS======================================
=====================================================================================*/
.tools {
  display: flex;
}
.tools__left {
  display: flex;
  min-width: 50%;
}
.tools__content {
  max-width: 600px;
  min-height: 314px;
  padding: 173px 106px 153px 100px;
}
.tools__subtitile {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-bottom: 6px;
}
.tools__title {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 14px;
}
.tools__text {
  font-size: 14px;
  line-height: 20px;
  min-width: 514px;
  margin-bottom: 20px;
}
.tools__img {
  min-width: 50%;
  min-height: 540px;
  background: url(../img/pictures/tools.jpg) center center/cover no-repeat;
}
.tools .data {
  padding-top: 484px;
}

/*===============================CLIENTS======================================
=====================================================================================*/
.clients__heading {
  margin-top: 113px;
  margin-bottom: 80px;
  text-align: center;
}
.clients__title {
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 15px;
}
.clients__subtitle {
  color: #C0C0C0;
  font-size: 24px;
  line-height: 30px;
}
.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 136px 100px;
}
.clients__item:hover {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/*===============================CONTACT======================================
=====================================================================================*/
.contact {
  text-align: center;
}
.contact__heading {
  margin-top: 113px;
  margin-bottom: 12px;
}
.contact__title {
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 15px;
}
.contact__subtitle {
  color: #C0C0C0;
  font-size: 24px;
  line-height: 30px;
}
.contact__btn {
  margin-bottom: 108px;
}

/*===============================FOOTER======================================
=====================================================================================*/
.footer__inner {
  margin: 100px 136px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__subtitle {
  font-size: 13px;
  line-height: 20px;
  color: #C0C0C0;
}
.footer__right-list {
  display: flex;
}
.footer__list {
  display: flex;
  flex-direction: column;
  margin-right: 55px;
}
.footer__list:last-child {
  margin-right: 100px;
}
.footer__title-item {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C0C0C0;
  margin-bottom: 10px;
}
.footer__item {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  transition: 0.6s;
}
.footer__item:hover {
  color: #C0C0C0;
  text-decoration: underline;
  transition: 0.3s;
}
.footer__hr-line {
  border: 1px solid #FFFFFF;
  height: 2px;
}
.footer__middle {
  display: flex;
  margin-top: 36px;
  margin-bottom: 36px;
}
.footer__mail {
  display: flex;
  flex: 1;
  align-items: center;
  align-content: space-between;
}
.footer__sub {
  flex: 2;
}
.footer__sub-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__sub-subtitle {
  font-size: 13px;
  line-height: 20px;
  color: #C0C0C0;
}
.footer__sub-form {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.footer__sub-btn {
  background: #000000;
  border-radius: 11px;
  height: 30px;
  width: 63px;
  position: absolute;
  top: 10px;
  bottom: 0px;
  margin-right: 6px;
}
.footer__sub-btn:hover {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.footer__sub-input {
  position: relative;
  display: inline-block;
  min-width: 500px;
  height: 52px;
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.4px;
  padding: 9px 10px 13px 42px;
  border-radius: 12px;
  background: #FFFFFF;
  transition: all 100s;
}
.footer__bottom {
  margin-top: 56px;
  padding-bottom: 104px;
  display: flex;
  justify-content: space-between;
}
.footer__copy {
  display: flex;
  align-items: center;
}
.footer__copy-text {
  font-size: 14px;
  line-height: 20px;
  color: #C0C0C0;
}
.footer__copy-text-2 {
  font-size: 13px;
  line-height: 20px;
  color: #C0C0C0;
}
.footer__licensing {
  font-size: 13px;
  line-height: 20px;
  color: #C0C0C0;
}
.footer__social-item {
  margin-right: 20px;
}
.footer__social-item:hover {
  opacity: 1;
  -webkit-animation: flash 1s;
  animation: flash 1s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.footer__social-item:last-child {
  margin-right: 0px;
}

/*===============================MEDIA==========================================
=====================================================================================*/
/*===============================1440px==========================================
=====================================================================================*/
@media (max-width: 1440px) {
  .areas {
    padding: 113px 0px 100px;
  }
}
/*===============================1200px==========================================
=====================================================================================*/
@media (max-width: 1200px) {
  .header__top-right {
    min-width: 0px;
    justify-content: flex-start;
  }
  .areas__list {
    display: grid;
    grid-template: auto auto/repeat(1, auto);
    gap: 16px;
  }
}
.header__logo {
  margin-right: 200px;
}

.tools {
  flex-direction: column;
}

.footer__subtitle {
  padding-right: 15px;
}

/*===============================1000px==========================================
=====================================================================================*/
@media (max-width: 1000px) {
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
    height: 90px;
    width: 100%;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: all 0.3s;
  }
  .burger span {
    display: block;
    height: 4px;
    width: 30px;
    border-radius: 3px;
    margin: 5px 0;
    background-color: #C0C0C0;
    transition: all 0.3s;
  }
  .burger::before, .burger::after {
    display: block;
    content: "";
    height: 4px;
    width: 30px;
    border-radius: 3px;
    background-color: #C0C0C0;
    transition: all 0.3s;
  }
  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 40;
    min-width: 50%;
    background-color: #000000;
    transform: translateX(100%);
    transition: all 0.6s;
  }
  .header__top--open {
    transform: translateX(0%);
    transition: all 0.3s;
  }
  .header__top-inner {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 70px 0;
  }
  .header__logo {
    margin: 0;
  }
  .header__nav-list {
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
  }
  .header__nav-item {
    margin: 0 auto;
    padding: 20px;
  }
  .header__nav-item:first-child {
    margin-right: 0;
    text-align: center;
  }
  .header__top-right {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  .clients__list {
    flex-direction: column;
  }
  .clients__item {
    margin-bottom: 50px;
  }
  .clients__item:last-child {
    margin-bottom: 0px;
  }
  .footer {
    min-width: auto;
  }
  .footer__inner {
    margin: 15px;
  }
  .footer__top {
    flex-direction: column;
  }
  .footer__subtitle {
    margin-bottom: 20px;
  }
  .footer__right-list {
    justify-content: space-between;
  }
  .footer__list:last-child {
    margin-right: 0px;
  }
  .footer__nav-list {
    justify-content: baseline;
  }
  .footer__mail {
    flex-direction: column;
  }
  .footer__sub-subtitle {
    margin-bottom: 20px;
  }
  /*===============================680px==========================================
  =====================================================================================*/
  /*===============================550px==========================================
  =====================================================================================*/
}
@media (max-width: 1000px) and (max-width: 680px) {
  .tools__content {
    min-width: 100%;
    padding: 30px;
  }
  .tools__text {
    min-width: 100%;
  }
  .clients__heading {
    padding: 0 15px;
  }
  .contact__heading {
    padding: 0 15px;
  }
}
@media (max-width: 1000px) and (max-width: 550px) {
  .header {
    height: 100%;
  }
  .header__top {
    min-width: 100%;
  }
  .header__top-inner {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 40px 0;
  }
  .heading__title {
    font-size: 40px;
  }
  .areas__heading {
    padding: 0 15px;
  }
  .areas__list-item {
    min-width: 100%;
  }
  .areas__item-content {
    margin-right: 30px;
  }
  .contact__title {
    font-size: 30px;
  }
  .footer__logo {
    margin-top: 20px;
  }
  .footer__subtitle {
    margin-bottom: 20px;
  }
  .footer__sub-input {
    min-width: auto;
  }
  .footer__sub-btn {
    height: 30px;
    width: 20px;
  }
  .footer__bottom {
    display: flex;
    flex-direction: column;
  }
  .footer__copy-text {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer__copy-text-2 {
    margin-bottom: 19px;
  }
}
/*===============================432px==========================================
=====================================================================================*/
@media (max-width: 432px) {
  .footer__copy-text-2 {
    display: none;
  }
}
/*===============================320px==========================================
=====================================================================================*/
@media (max-width: 320px) {
  .data {
    flex-direction: column;
  }
  .data-item-1,
.data-item-2,
.data-item-3 {
    margin-bottom: 16px;
  }
}/*# sourceMappingURL=style.css.map */